<div [ngSwitch]="currentViewState">
  <app-lead-menu-screen
    *ngSwitchCase="viewState.MENU"
    (viewStateSelected)="onViewStateSelected($event)"
  ></app-lead-menu-screen>

  <app-add-lead-screen
    *ngSwitchCase="viewState.ADD"
    (leadAdded)="onLeadAdded($event)"
    (viewStateSelected)="onViewStateSelected($event)"
  ></app-add-lead-screen>

  <app-view-leads-screen
    *ngSwitchCase="viewState.VIEW_ALL"
    [leads]="leads"
    (viewStateSelected)="onViewStateSelected($event)"
    (leadClicked)="onLeadClicked($event)"
  ></app-view-leads-screen>

  <app-view-lead-detail-screen
    *ngSwitchCase="viewState.VIEW_LEAD"
    [lead]="lead"
    (viewStateSelected)="onViewStateSelected($event)"
  ></app-view-lead-detail-screen>
</div>
