<div [ngSwitch]="currentViewState">
  <app-lead-menu-screen
    *ngSwitchCase="viewState.MENU"
    (viewStateSelected)="onViewStateSelected($event)"
  ></app-lead-menu-screen>

  <app-add-lead-screen
    *ngSwitchCase="viewState.ADD"
    [assignToOptions]="assignToOptions"
    (leadAdded)="onLeadAdded($event)"
    (viewStateSelected)="onViewStateSelected($event)"
  ></app-add-lead-screen>

  <app-view-leads-screen
    *ngSwitchCase="viewState.VIEW_ALL"
    [leads]="leads"
    [assignToOptions]="assignToOptions"
    (viewStateSelected)="onViewStateSelected($event)"
    (leadClicked)="onLeadClicked($event)"
  ></app-view-leads-screen>

  <app-view-lead-detail-screen
    *ngSwitchCase="viewState.VIEW_LEAD"
    [lead]="lead"
    (viewStateSelected)="onViewStateSelected($event)"
  ></app-view-lead-detail-screen>

  <app-warning-modal
    *ngIf="isWarning"
    [warningConfig]="warnigConfig"
    (proceed)="isWarning = false"
  ></app-warning-modal>

  <app-notifications-modal
    *ngIf="isNotifying"
    [notificationConfig]="notificationConfig"
    (proceed)="isNotifying = false"
  ></app-notifications-modal>
</div>
