<app-page-header [header]="'Quotes'"></app-page-header>
<div [ngSwitch]="currentViewState">
  <app-form-screen
    *ngSwitchCase="viewState.PRODUCT_SELECT"
    [formConfig]="productSelectFormConfig"
    (formChanged)="onProductSelectFormChange($event)"
    (formSubmitted)="onProductSelectFormSubmitted($event)"
  ></app-form-screen>

  <app-form-screen
    *ngSwitchCase="viewState.PRODUCT_MEASUREMENTS"
    [formConfig]="productMeasurementFormConfig"
    (formSubmitted)="onProductMeasurementFormSubmitted($event)"
  ></app-form-screen>

  <app-form-screen
    *ngSwitchCase="viewState.QUOTE_PARAMETERS"
    [formConfig]="quoteParametersFormConfig"
    (formSubmitted)="onQuoteParametersFormSubmitted($event)"
  ></app-form-screen>

  <div *ngSwitchCase="viewState.RESULTS">
    <app-list-screen
      *ngIf="quoteSpecs"
      [listConfig]="quoteSpecs"
    ></app-list-screen>
    <app-expansion-table-screen
      [expansionPanelConfig]="expansionPanelConfig"
    ></app-expansion-table-screen>
  </div>
</div>

<app-menu-screen [menuOptions]="menuOptions"></app-menu-screen>
