.screen-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.accordion-container {
  display: flex;
  width: 90%;
  flex-direction: column;
}

mat-expansion-panel,
mat-accordion {
  width: 100%;
}

mat-expansion-panel {
  margin: 5px;
}
