.form-title {
  display: flex;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: medium;
  font-weight: bolder;
  margin: 10px 0;
}

.field-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.field-title {
  margin: 10px 0;
}

.field-input {
  margin: 5px 0;
}

input {
  width: 80px;
  height: 25px;
  text-align: end;
  align-items: center;
  font-size: smaller;
}

select {
  width: 150px;
  height: 25px;
  text-align: end;
  align-items: center;
  margin-top: 5px;
  font-size: smaller;
}

.form-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
