<form
  [ngStyle]="{'padding': formConfig.isInExpansionTable ? '0' : '0 10%' }"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <div class="form-title">{{formConfig.formTitle}}</div>
  <div *ngFor="let field of formConfig.fields">
    <div class="fields-container" [ngSwitch]="field.fieldType">
      <p class="field-title">{{field.fieldDisplay}}</p>
      <div
        class="center-spacer-gap"
        *ngIf="field.fieldType !=  fieldType.RADIO"
      ></div>
      <div class="field-input" *ngSwitchCase="fieldType.INPUT_DECIMAL_NUMBER">
        <input
          type="text"
          formControlName="{{field.fieldName}}"
          [ngModel]="form.controls[field.fieldName].value "
          oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
        />
      </div>
      <div class="field-input" *ngSwitchCase="fieldType.INPUT_WHOLE_NUMBER">
        <input
          type="text"
          formControlName="{{field.fieldName}}"
          [ngModel]="form.controls[field.fieldName].value"
          oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
        />
      </div>
      <div class="field-select" *ngSwitchCase="fieldType.SELECT">
        <select
          class="field-select"
          formControlName="{{field.fieldName}}"
          *ngFor="let option of field.options"
        >
          <option value="{{option.value}}">{{option.display}}</option>
        </select>
      </div>
      <div class="field-radio" *ngSwitchCase="fieldType.RADIO">
        <mat-radio-group
          class="field-radio-group"
          formControlName="{{field.fieldName}}"
        >
          <mat-radio-button
            *ngFor="let option of field.options"
            value="{{option.value}}"
            >{{option.display}}</mat-radio-button
          >
        </mat-radio-group>
        <div class="right-spacer-gap"></div>
      </div>
    </div>
  </div>
  <div *ngIf="validForm" class="form-button-container">
    <button class="primary-menu-button" type="submit">
      {{formConfig.proceedText}}
    </button>
  </div>
</form>
