<form
  [ngStyle]="{'padding': formConfig.isInExpansionTable ? '0' : '0 10%' }"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <div *ngFor="let field of formConfig.fields">
    <div class="field-container" [ngSwitch]="field.fieldType">
      <p class="field-title">{{field.fieldDisplay}}</p>
      <div class="field-input" *ngSwitchCase="fieldType.INPUT_DECIMAL_NUMBER">
        <input
          type="text"
          formControlName="{{field.fieldName}}"
          [ngModel]="form.controls[field.fieldName].value | number :'1.2-2'"
          oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
        />
      </div>
      <div class="field-input" *ngSwitchCase="fieldType.INPUT_WHOLE_NUMBER">
        <input
          type="text"
          formControlName="{{field.fieldName}}"
          [ngModel]="form.controls[field.fieldName].value"
          oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
        />
      </div>
    </div>
  </div>
  <div *ngIf="form.valid" class="form-button-container">
    <button class="primary-menu-button" type="submit">Get Quote</button>
  </div>
</form>
