.form-title {
  display: flex;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: medium;
  font-weight: bolder;
  margin: 10px 0;
}

.fields-container {
  display: flex;
  flex-direction: row;
}

.field-title {
  margin: 10px 0;
  width: 50%;
}

.field-input {
  margin: 5px 0;
  justify-content: end;
  align-items: flex-end;
}

.field-select,
.large-field-input {
  margin: 5px 0;
  justify-content: end;
  align-items: flex-end;
  width: 150px;
}

.field-radio-group {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.field-radio {
  display: flex;
  flex-direction: row;
}

.field-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.field-input input {
  width: 80px;
  height: 20px;
  text-align: end;
  align-items: center;
  font-size: smaller;
}

.large-field-input input {
  width: 95%;
  height: 20px;
  text-align: end;
  align-items: center;
  font-size: smaller;
}

select {
  width: 150px;
  height: 25px;
  text-align: end;
  align-items: center;
  margin-top: 5px;
  font-size: smaller;
}

mat-radio-button {
  margin: 5px 0;
}

.right-spacer-gap {
  display: flex;
  flex-grow: 10;
}

.center-spacer-gap {
  display: flex;
  flex-grow: 1;
}

.form-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
